div.layout-contacts
  margin 0 0 300px 0
  
div.map
  width 100%
  height 100%
  position absolute
  top 200px
  left 0

ul.office-list
  margin 40px 0 0 0
  padding 0

  li.office-list-item 
    margin 0 20px 0 0
    padding 0
    list-style-type none
    width 352px
    background #F9F9F9 
    float left
    opacity 0.7
    cursor pointer

    &.active
      background none
      opacity 1
      cursor default       
        
    span.office-list-item-title
      futura-light()
      font-size 25px
      color #333 
      text-transform uppercase 
      text-align center
      display block
      height 70px
      line-height 64px

ul.office-contacts-list
  margin 0

  li.office-contacts-list-item
    width 320px
    height auto
    
    span.office-contacts-list-item-icon
      &.office-contacts-list-item-icon-pin
        background url('../images/icon-pin.png') no-repeat center
      &.office-contacts-list-item-icon-phone
        background url('../images/icon-phone.png') no-repeat center
      &.office-contacts-list-item-icon-email
        background url('../images/icon-email.png') no-repeat center      

    span.office-contacts-list-item-text
      arial()
      color #333 
      width 250px