div.layout-wide
	background #FFF 
	color #5d5d5d	
	padding 40px 27px 27px
	min-height 400px 
	
	h1
		padding 0
		margin 0
		futura-light()
		font-size 50px	
		color #333
		text-transform uppercase 
		line-height 42px
		
	div.docs-desc
		width 530px
		arial()
		font-size 35px
		color #5d5d5d
		float right
		margin 0 0 75px
		
ul.docs-groups-list
	margin 0
	padding 0
	overflow hidden
	
	li.docs-groups-list-item
		list-style-type none
		margin 0 40px 0 0
		padding 0
		futura-book()
		font-size 18px
		color #8c9093
		float left
		text-transform uppercase
		line-height 30px
		border-bottom dashed 1px #5c5f62		
		
		&.active
			futura-light()
			font-size 25px
			color #4b4a4a
			line-height 26px
			border-bottom none
			
		&:last-child
			margin-right 0
			
ul.docs-list
	li.docs-list-item
		padding 0 0 50px
		position relative
		height 90px
		width 340px
		
		span.docs-list-item-icon
			futura-light()
			font-size 22px
			color #4b4a4a 
			line-height 84px
			text-transform uppercase
			text-align right
			padding 0 4px 0  0
		
		span.docs-list-item-text
			width 265px
			p
				arial()
				color #2d2d2d
				font-size 15px
				
		div.docs-options
			width 200px
			position absolute
			bottom 30px
			right 0

			a.docs-watch
				float right
				width 22px
				height 28px
				background url('../images/watch-icon.png') no-repeat center
				display block
				margin 0 5px 0 0
				opacity 0.8 
				transition('opacity', 0.2s)
				
				&:hover
					opacity 1					

			a.docs-download
				float right	
				width 22px
				height 25px		
				background url('../images/download-icon.png') no-repeat center
				display block
				margin 0 5px 0 0	
				opacity 0.8 
				transition('opacity', 0.2s)
				
				&:hover
					opacity 1																							

			a.docs-size
				float right
				futura-light()
				font-size 18px
				color #333
				display block	
				margin 0 5px 0 0
				line-height 28px							


div.graph
	background url('../images/du-bg.jpg') no-repeat center
	width 820px
	height 486px
	position relative 
	
div.stroke

	border solid 2px #ba6d70
	margin 25px 1px 1px
	padding 13px
	
	h2		
		margin 0 0 20px
		
div.graph-circle
	position absolute
	futura-light()
	text-transform uppercase 
	text-align center 
	color #fff		 
	text-shadow 1px 1px 1px rgba(0,0,0,0.43) 
	width 65px
	line-height 100% 
	font-size 16px
	cursor pointer
	
	div.graph-circle-text
		position absolute 
		top 68px
		left 42px
		color #5d5d5d
		arial()
		font-size 15px
		text-transform none
		text-align left
		text-shadow none
		white-space nowrap
		
	&.graph-circle-1
		top 362px
		left 15px
		
	&.graph-circle-2
		padding 15px 0 0
		top 330px
		left 93px	
		
	&.graph-circle-3
		padding 16px 0 0
		top 298px
		left 171px
		
	&.graph-circle-4
		padding 16px 0 0
		top 268px
		left 250px
		font-size 12px
		
	&.graph-circle-5
		padding 16px 0 0
		top 234px
		left 329px
		color #666
		
	&.graph-circle-6
		padding 16px 0 0
		top 203px
		left 407px		
		
	&.graph-circle-7
		padding 16px 0 0
		top 171px
		left 489px
		
	&.graph-circle-8
		padding 18px 0 0
		top 136px
		left 565px
		
	&.graph-circle-9
		padding 10px 0 0
		top 106px
		left 644px	
		font-size 12px	
		
	&.graph-circle-10
		padding 10px 0 0
		top 80px
		left 720px
		
		div.graph-circle-text
			left 23px
			top 63px	
			
	&:hover
		text-shadow none
		color #000
		
		div.graph-circle-text		 
			color #000