@font-face {
	font-family 'FuturaLight'
	src url('../fonts/FuturaLight.eot')
	src local('☺'), url('../fonts/FuturaLight.woff') format('woff'), url('../fonts/FuturaLight.ttf') format('truetype'), url('../fonts/FuturaLight.svg') format('svg')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'FuturaBook'
	src url('../fonts/FuturaBook.eot')
	src local('☺'), url('../fonts/FuturaBook.woff') format('woff'), url('../fonts/FuturaBook.ttf') format('truetype'), url('../fonts/FuturaBook.svg') format('svg')
	font-weight normal
	font-style normal
}

@font-face {
	font-family: 'Futuris'
	src url('../fonts/Futuris.eot')
	src local('☺'), url('../fonts/Futuris.woff') format('woff'), url('../fonts/Futuris.ttf') format('truetype'), url('../fonts/Futuris.svg') format('svg')
	font-weight normal
	font-style normal
}

@font-face {
	font-family: 'ALSRubl-Verdana'
	src url('../fonts/alsrubl-verdana-regular.eot')
	src local('☺'), url('../fonts/alsrubl-verdana-regular.woff') format('woff'), url('../fonts/alsrubl-verdana-regular.ttf') format('truetype'), url('../fonts/alsrubl-verdana-regular.svg') format('svg')
	font-weight normal
	font-style normal
}

futura-light()
	font-family 'FuturaLight', Arial, sans-serif
	font-weight normal 
	
futura-book()
	font-family 'FuturaBook', Arial, sans-serif	
	font-weight normal 
	
futuris()
	font-family 'Futuris', Arial, sans-serif
	font-weight normal 
	
arial()
	font-family Arial, sans-serif
	font-weight normal
	
ruble()
	font-family 'ALSRubl-Verdana', sans-serif
	font-weight normal 	