absolute(l = auto, t = auto, r = auto, b = auto)
	position absolute
	left l
	top t
	right r
	bottom b
	
background-single(src) 
	background url(src) no-repeat top center
	
transition(prop, dur)
	-webkit-transition-property prop
	-moz-transition-property prop 
	-ms-transition-property prop
	-o-transition-property prop
	transition-property prop
	-webkit-transition-duration dur 
	-moz-transition-duration dur
	-ms-transition-duration dur  
	-o-transition-duration dur
	transition-duration dur