div.welcome	
	padding 38px 0 40px
	width 600px 
	
	h1
		font-weight normal 
		text-transform uppercase
		text-shadow 1px 1px 2px rgba(0, 0, 0, 0.4)
		font-size 35px
		margin 0
		letter-spacing 1px
		line-height 40px
		
div.promo-features-wrapper
	position relative
	overflow hidden	

div.promo-features-container
	margin 0 0 0 0
	width 10000px
	overflow hidden	
		 
div.promo-features
	margin 0 0 0 -15px
	width 1200px
	overflow hidden
	float left

	aPromoFeaturePaddingTop = 27px
	aPromoFeaturePaddingHoriz = 25px
	a.promo-feature
		display block
		width 370px - 2 * aPromoFeaturePaddingHoriz
		height 216px - aPromoFeaturePaddingTop
		float left 
		overflow hidden
		background url('../images/promo-feature-bg.png') repeat top left
		margin 0 15px 30px 15px
		padding aPromoFeaturePaddingTop aPromoFeaturePaddingHoriz 0 aPromoFeaturePaddingHoriz 
				
		h2
			futura-book()
			text-transform uppercase
			font-size 25px 
			margin 0
			padding 0
			line-height 33px 

		hr
			height 0
			border 0
			margin 2px 0 28px
			border-bottom 2px solid #fff
			box-shadow 0 1px 2px rgba(0,0,0,0.5)	 
			clear both
			width 100% 
			
		p
			margin 0
			padding 0
			font-size 22px
			line-height 26px 
			width 100% 			
			
			span.arrow
				background-single('../images/promo-feature-arrow.png')
				width 10px 
				height 17px 
				display inline-block
				vertical-align -3px 
				margin 0 0 0 6px