::-webkit-input-placeholder
	color #666464

:-moz-placeholder
	color #666464

::-moz-placeholder
	color #666464
	
:-ms-input-placeholder
	color #666464
	
html
	height 100%

body
	futura-book()
	background #4b4a4a
	font-size 19px
	color #fff
	height 100%
	
p
	margin 0 0 0.5em	

a:link, a:hover, a:visited, a:active
	color #fff 
	text-decoration none

div.wrapper
	width 1170px
	margin 0 auto
	position relative 

headerPaddingTop = 36px
headerBorderBottom = 5px
header
	background #4b4a4a
	height 200px - headerPaddingTop - headerBorderBottom
	margin headerPaddingTop 0 0 
	
	div.logo-and-login
		position relative
		height 96px

		a#logo
			display block
			background-single('../images/logo.png')
			width 257px
			height 65px
			float left

		aLoginPaddingLeft = 0px
		div.banking		
			absolute(auto, 0, 0)				
			display block
			width 230px - aLoginPaddingLeft
			height 45px 
			line-height 50px
			text-align center	
			color #fff
			padding 0 0 0 aLoginPaddingLeft
			text-shadow 0 1px 1px rgba(0, 0, 0, 0.6)	
			background url('../images/banking-icon.png') no-repeat 17px 13px #8c9093
			cursor pointer
			
			span
				background url('../images/banking-arrow-down.png') no-repeat center
				display block
				width 17px
				height 11px
				position absolute 
				right 7px
				top 20px	
				z-index 100	
				cursor pointer
				
			&.active
				span 
					background url('../images/banking-arrow-up.png') no-repeat center
			
		div.banking-dropdown
			absolute(auto, 45px, 0)
			width 230px - aLoginPaddingLeft
			background-color #8C9093
			z-index 5
			display none
			
			a
				display block
				width 230px - 25px
				height 45px 
				line-height 50px
				text-align left	
				color #fff
				padding 0 0 0 25px
				text-shadow 0 1px 1px rgba(0, 0, 0, 0.6)
				border-bottom solid 1px #a8abad				
				
				&:hover
					text-decoration underline

		aQuestionPaddingLeft = 45px
		div.question
			absolute(auto, 46px, 0)
			display block
			width 230px - aQuestionPaddingLeft
			height 45px 
			line-height 50px
			text-align left	
			color #fff
			padding 0 0 0 aQuestionPaddingLeft
			text-shadow 0 1px 1px rgba(0, 0, 0, 0.6)	
			background url('../images/question-icon.png') no-repeat 17px 13px
			cursor pointer 
			text-decoration none
			
			&:hover
				text-decoration underline
				
		div.question-dropdown-wrapper
			absolute(auto, 83px, 0)
			padding 13px 0 0
			z-index 10
			background url('../images/question-dropdown-angle.png') no-repeat 370px 0
			
			div.question-dropdown
				display none
				text-decoration none
				width 415px
				padding 5px 0 0
				background #8c9093
				cursor default
				div.question-dropdown-row-wrapper
					padding 0 13px
					&.error
						background #9f787a							
						
				div.question-dropdown-row
					border-bottom solid 1px #a8abad
					border-top solid 1px #787c7e
					overflow hidden
					padding 20px 0 5px
					
					&:first-child
						border-top 0
													
					div.question-dropdown-title
						width 100px
						float left
						text-transform uppercase
						text-decoration none
						
					div.question-dropdown-field
						width 280px
						float right
						text-decoration none

						.question-dropdown-input
							futura-book()
							font-size 18px
							color #777a7c
							border none
							background #8c9093
							text-decoration none
							//text-transform uppercase
							padding 0 0 0 25px
							
							&:focus
								outline: none;
								color #fff

							&.question-dropdown-input-name
								background url('../images/name-icon.png') no-repeat 0 2px
								
							&.question-dropdown-input-email
								background url('../images/email-icon.png') no-repeat 0 2px
								
							&.question-dropdown-input-text
								background url('../images/text-icon.png') no-repeat 0 2px
								
						textarea.question-dropdown-input
							height 60px
							width 240px						

					
				div.question-dropdown-button-row
					padding 0 13px 13px
					text-align right
						
					input.question-dropdown-button
						futura-book()							
						font-size 18px
						color #fff
						background #8c9093
						padding 5px 10px
						border solid 1px #747677
						text-transform uppercase
						text-shadow 0 1px 1px rgba(0, 0, 0, 0.6)
						outline none								

		a.cabinet
			absolute(auto, 43px, 0)		
			display block
			width 230px - aLoginPaddingLeft
			height 45px 
			line-height 50px
			text-align center	
			color #fff
			padding 0 0 0 aLoginPaddingLeft
			text-shadow 0 1px 1px rgba(0, 0, 0, 0.6)	
			background url('../images/cabinet-icon.png') no-repeat 17px 15px
			
		div.langs
			absolute(auto, 12px, 263px)		
			
			a
				color #666464 
				text-decoration underline
				font-size 17px
				display inline-block
				padding 1px 4px
				margin 0 0 0 3px
				
				&.active
					border solid 1px #666464
					text-decoration none
					color #fff

	div.header-line
		height 0
		border 0
		margin 0 
		border-bottom 1px solid #8c9093
		box-shadow 0 1px 1px rgba(0, 0, 0, 0.4)	 
		clear both
		display block
		font-size 0
		line-height 0
		
div.error-message
	border-top solid 1px #787c7e	
	futura-book()
	font-size 18px
	color #b22629
	text-shadow none
	padding 20px 13px		
 		
nav.top-menu
	background #4b4a4a
	width 100%
	
	a
		futura-light()
		font-size 24px 
		float left
		padding 0 35px
		display inline-block
		height 61px
		line-height 61px
		color #afafaf
		transition('color', 0.3s)
		
		&:first-child
			padding 0 35px 0 0  
			
		&.active
			color #fff
			
		&:hover
			color #fff	
			
	&.fixed
		position fixed
		top 0
		z-index 1000			
		
inputSearchPaddingHoriz = 12px			
input.search
	futura-book()
	border 1px solid #666464
	background url('../images/search-icon.png') no-repeat 200px 10px
	width 228px - 2 * inputSearchPaddingHoriz
	color #666464 
	padding 7px inputSearchPaddingHoriz
	font-size 22px
	float right	
	margin 12px 0 0
		
div.header-line
	border-bottom solid #8c9093 headerBorderBottom
	margin-top -5px 0 0
	line-height 0
	font-size 0
	
	&.fixed
		position fixed 
		top 61px
		width 100%
		z-index 1000
			
div.page-dots
	absolute(auto, 128px, 0)
	font-size 0
	
	div.page-dot
		width 11px 
		height 11px 	
		background-single('../images/page-dot.png')	
		cursor pointer
		margin 0 0 0 2px 
		float right		

		&.active
			background-single('../images/page-dot-active.png')
			cursor default		

section.content
	width 100%
	position relative 
	
div.bg
	background-single('../images/bg/1.jpg')
	width 100% 
	height 100% 
	background-size auto 1900px
	background-position top
	position absolute 
	top 0
	left 0
	

footer
	border-top solid #8c9093 6px
	height 200px 
	background #4b4a4a
	position relative

	div.footer-contacts
		margin 0 0 0 26px
		padding 22px 0 0
		overflow hidden
		
		h3
			margin 0			
			futura-light()
			font-size 26px 
			text-transform uppercase
			margin  0 0 11px 0
		
		div.footer-contact
			width 300px
			float left
			margin 0 95px 0 0	
			futura-light()					
			
			p
				margin 0 0 18px
				padding 0 
				font-size 24px
				line-height 25px 
				
			a
				font-size 26px
	
	
body.error-404
	div.bg
		background-image url('../images/error-bg.jpg')
		background-size auto 900px	
					
body.error-500
	background #fff

div.error-page
	height 700px
	position relative
	
	div.error-page-background
		width 417px
		height 417px
		font-size 220px
		background-single('../images/error-bg.png')
		absolute(50%, 110px)
		margin 0 0 0 -210px
		text-align center		
		padding 60px 10px 0 0
		futura-book()

	div.error-page-top-text
		absolute(50%, 185px)
		futura-book()
		font-size 40px
		text-transform uppercase
		margin 0 0 0 -76px
		
	div.error-page-left-text
		absolute(50%, 340px)
		futura-book()
		font-size 40px	
		text-transform uppercase
		margin 0 0 0 -400px
			
	div.error-page-right-text
		absolute(50%, 340px)
		futura-book()
		font-size 40px
		text-transform uppercase
		margin 0 0 0 223px
		
	div.error-banking
		absolute(50%, 430px)
		futura-book()
		font-size 25px
		text-transform uppercase
		margin 0 0 0 -87px
		border-bottom solid 2px #fff
		padding 0 0 0 1px

table.deposit-table
	margin 40px 0 0 0
	width 100%
	tr
		td
			font-family Arial, sans-serif
			color #5d5d5d
			font-size 14px
			padding 25px 0
			text-align center
			
			&:first-child			
				padding-left 25px
				text-align left
		
			a, span
				display block
				text-transform uppercase
				font-size 18px
				color #5D5D5D
				text-decoration underline 
				
		&:nth-child(odd)
			background #F9F8F8
			
		th
			text-transform uppercase
			font-size 14px
			padding 10px 0
			
			&:first-child			
				padding-left 25px
				text-align left			
			
	thead
		tr:first-child
			background none	
			
	ul.list-check li
		width 100%
		margin 0 0 20px
			
div.disclaimer
	text-transform uppercase
	font-family Arial, sans-serif
	font-size 11px
	margin 40px 0 20px
	
div.password-form-container
	position absolute
	z-index 1000
	top 450px
	left 50%
	width 410px
	background #FFF 
	margin 0 0 0 -100px
	border solid 3px #4b4a4a
	display none
	box-shadow 0 0 6px rgba(0,0,0,0.7)
	
	div.password-form
		position relative
		overflow hidden
		padding 10px
	
		div.password-form-close
			color #4b4a4a
			position absolute
			top 0
			right 5px	
			font-family Arial, sans-serif
			cursor pointer
				
		h1
			futura-book()
			font-size 18px
			color #4b4a4a
			text-transform uppercase
			text-align center
			
		div.password-form-row
			overflow hidden
			padding 20px 0 5px
			background #FFD4D4
			margin 0 0 1px 			
			
			&:first-child
				border-top 0
											
			div.password-form-title
				color #4b4a4a
				width 100px
				float left
				text-transform uppercase
				text-decoration none
				margin 0 0 0 3px
				
			div.password-form-field
				width 280px
				float right
				text-decoration none

				.password-form-input
					futura-book()
					font-size 18px
					color #666
					border none
					text-decoration none
					padding 0 0 0 25px
					border-left solid 1px #999	
					background transparent
					background url('../images/key-icon.png') no-repeat 4px 1px				
					
					&:focus
						outline: none;
						color #666
						
	a.forgot
		futura-book()
		font-size 18px
		color #666
		text-decoration underline
		
	input.send
		border solid 2px #999
		futura-book()
		font-size 18px
		background #fff
		text-transform uppercase
		padding 7px 10px 5px 10px
		float right				
