div.sections
	position relative
	a.section
		background rgba(0, 0, 0, 0.5)
		height 175px
		line-height 175px
		transition('background-color', 0.3s)
		transition('padding', 0.3s)
		futura-light()
		font-size 50px
		text-transform uppercase 
		display block
		margin 0 0 2px 0

		&:hover
			background rgba(0, 0, 0, 0.6)
			padding-left 20px
			
			span
				background url('../images/section-arrow.png') no-repeat right 66px
			
		span
			width 1170px
			margin 0 auto
			display block
			
		&:last-child
			margin 0