div.services-layout
	overflow hidden
		
div.services-left-column-bg	
	background #ebebeb
	margin 0 0 0 -922px
	width 1170px
	position relative		
	
div.services-left-column
	overflow hidden
	width 248px
	float left
	margin 0 0 0 922px
	
div.services-right-column
	width 922px
	margin 0 0 0 1170px	
	background #FFF 
	min-height 600px 
	
div.services-content
	overflow hidden
	padding 50px
	color #333
	
	p
		arial()
		font-size 15px
		color #404040
	
h1.services-left-column-title
	background url('../images/services-left-column-title-bg.png') no-repeat
	padding 0 0 0 30px
	margin 20px 20px 75px
	futuris()
	font-size 17px	
	color #333
	text-transform uppercase 
	
ul.services-menu
	margin 0
	padding 0
	li
		list-style-type none	
		padding 0 5px 0 10px
		transition('background-color', 0.2s)		
		transition('color', 0.2s)
								
		a
			background url('../images/services-menu-bg.png') no-repeat right 16px			
			line-height 52px
			height 52px
			display block
			padding 0 20px 0 25px

			border-bottom solid 2px #cecfcf

			span
				futura-book()
				font-size 13px
				color #333
				text-transform uppercase
				display -moz-inline-box  /* FF2 or lower */
				display inline-block    /* FF3, Opera, Safari */
				line-height normal
				vertical-align middle
				*margin 14px 0 0 /* IE FIX */		
				
		&:hover, &.active
			background-color #8C9093
			
			a
				border-color transparent 
				span 
					color #fff
					
h1.service-title
	futura-book()
	font-size 30px
	text-transform uppercase
	margin 0
	
div.service-desc
	padding 30px 0 35px 75px

	p
		arial()
		font-size 18px
		margin 0
		
	div.service-desc-line
		border-top solid 1px #000	
		border-bottom solid 2px #939292	
		margin 20px 0
		
div.layout-wide
	div.service-desc
		width 740px
		margin-left 280px
		
					
h2.service-subtitle
	futura-book()
	font-size 22px
	text-transform uppercase
	margin 0 0 40px
	
ul.services-list
	margin 40px 0 0 -18px
	padding 0
	list-style-type none
	
	li.services-list-item
		padding 0
		list-style-type none
		width 380px
		float left
		margin 0 18px 40px 18px
		
		&.services-list-item-with-dropdown
			span.services-list-title
				width 280px		
			
		&.services-list-item-small
			padding 0
			list-style-type none
			width 240px
			float left
			margin 0 18px 18px 18px
			
			span.services-list-title	
				width 170px

		div.services-list-item-header
			padding 0 0 10px 0
			border-bottom solid 2px #333
			position relative

		span.services-list-icon
			width 54px
			height 54px
			border solid 2px #333
			display block
			float left
			
			&.services-list-icon-scroll
				background url('../images/services-list-icon-scroll.png') no-repeat center
				
			&.services-list-icon-check
				background url('../images/icon-check.png') no-repeat center
								
		span.services-list-title	
			futura-book()
			font-size 23px	
			height 54px				
			float left
			width 300px
			padding 0 0 0 12px
			overflow hidden
			line-height 125%
			
		span.services-list-dropdown-arrow
			width 24px
			height 54px
			display block
			float right	
			background url('../images/services-list-dropdown-arrow-down.png') no-repeat 0 32px
			cursor pointer
			
			&.active			
				background-image url('../images/services-list-dropdown-arrow-up.png') 
				
		div.services-list-dropdown
			border solid 0px #333
			border-top none
			overflow hidden
			padding 20px 8px
			display none
			
		div.services-list-desc
			overflow hidden
			padding 20px 0				
			
			p
				arial()
				font-size 15px
				color #404040
				margin 0 0 1em
			
	&.active
		span.services-list-dropdown-arrow
			background url('../images/services-list-dropdown-arrow-up.png') no-repeat center
			

	&.lifestyle-services-list, &.finances-services-list
		li.services-list-item
			width 342px
			span.services-list-title
				width 240px
				
			ul.list-check
				li
					width auto
					margin auto
					
.services-list-icon-house
	background url('../images/icon-house.png') no-repeat center
	
.services-list-icon-book
	background url('../images/icon-book.png') no-repeat center
	
.services-list-icon-lighthouse
	background url('../images/icon-lighthouse.png') no-repeat center
	
.services-list-icon-picture
	background url('../images/icon-picture.png') no-repeat center
	
.services-list-icon-case
	background url('../images/icon-case.png') no-repeat center
	
.services-list-icon-hands
	background url('../images/icon-hands.png') no-repeat center
	
.services-list-icon-beat
	background url('../images/icon-beat.png') no-repeat center
	
.services-list-icon-heat
	background url('../images/icon-heat.png') no-repeat center
	
.services-list-icon-person
	background url('../images/icon-person.png') no-repeat center
	
.services-list-icon-actives
	background url('../images/icon-actives.png') no-repeat center
	
.services-list-icon-family
	background url('../images/icon-family.png') no-repeat center
	
.services-list-icon-finance
	background url('../images/icon-finance.png') no-repeat center
	
.services-list-icon-property
	background url('../images/icon-property.png') no-repeat center	
	
.services-list-icon-contacts
	background url('../images/icon-contacts.png') no-repeat center
			
.services-list-icon-actives
	background url('../images/icon-actives.png') no-repeat center	
	
.services-list-icon-pig
	background url('../images/icon-pig.png') no-repeat center
	
.services-list-icon-consult
	background url('../images/icon-consult.png') no-repeat center
	
.services-list-icon-structure
	background url('../images/icon-structure.png') no-repeat center	
	
ul.list-check
	padding: 0 0 20px 20px
	margin 0
	overflow hidden
	
	li
		arial()
		font-size 14px
		list-style-image url('../images/list-check-image.png')
		list-style-position outside
		width 40%
		float left
		margin 0 10% 10px 0
		color #5d5d5d
		
	&.single-column	
		li
			width 60%
		
div.copy
	font-size 12px
	futura-book()
	color #5D5D5D 
	position absolute
	bottom 5px
	text-align center
	width 248px
	right 0
	text-transform uppercase 

ul.features-list
	padding 0
	margin 0 0 100px 0 
	
	li.features-list-item
		padding 0
		margin 0 0 2px
		list-style none
		
		span.features-list-item-title
			futura-book()
			display block
			height 54px
			line-height 54px
			text-transform uppercase			 
			background #F9F8F8 
			font-size 18px
			color #5D5D5D
			padding 0 0 0 26px
			cursor pointer
			transition('background-color', 0.1s)
			
			&.active
				background #EBEBEB
				text-decoration underline 
			
			span.features-list-item-arrow
				width 50px
				height 54px
				display block
				float right	
				background url('../images/features-list-arrow-down.png') no-repeat center
				cursor pointer
				
				&.active			
					background-image url('../images/features-list-arrow-up.png') 				
			
		div.features-list-item-dropdown
			position relative
			border solid 2px #ebebeb
			border-top 0
			padding 25px 25px 0 25px
			display none

			table
				th
					futura-book()
					color #333333
					font-size 14px
					text-transform uppercase
					vertical-align top
					padding 0 20px 0 0	
					
					&.th-rate-currencies
						width 80px	
						
					&.th-period
						width 80px
						
				td					
					arial()
					vertical-align top

		
div.rate-currencies
	display inline-block
	vertical-align -4px

	div.rate-currency
		font-weight 400
		font-size 14px
		float left
		width 13px
		height 16px
		line-height 16px
		text-align center
		border-bottom dotted 1px #5d5d5d
		color #5D5D5D
		margin 0 3px
		cursor pointer
		
		&.active
			border-bottom 0
			background #8c9093
			color #fff
			cursor default 

.ruble 
	ruble()
	font-weight normal
	font-size 14px
	
a.block-link
	arial()
	border solid 2px #4b4a4a
	padding 12px 20px 11px 54px
	margin 0 10px 0 0
	color #4b4a4a
	text-transform uppercase  
	font-size 14px
	text-decoration underline
	transition('background-color', 0.3s)
	transition('color', 0.3s)
		
	&.link-icon-download-deposites
		background url('../images/icon-download-deposites.png') no-repeat 11px 10px
		
		&:hover
			background-image url('../images/icon-download-deposites-over.png')
			background-color #4b4a4a 
			color:#fff
		
	&.link-icon-ancor
		background url('../images/ancor-icon.png') no-repeat 11px 6px
		
		&:hover
			background-image url('../images/ancor-icon-over.png')
			background-color #4b4a4a
			color:#fff						
		
ul.iconed-list
	padding 0
	margin 40px -20px 0
	overflow hidden
	
	li.iconed-list-item 
		width 380px
		float left
		list-style none
		margin 0 20px 20px
		height 160px
		
		&.short
			height 80px

		span.iconed-list-item-icon
			width 54px
			height 54px
			border solid 2px #333
			display block
			float left

			&.iconed-list-item-icon-scroll
				background url('../images/services-list-icon-scroll.png') no-repeat center
				
			&.iconed-list-item-icon-radar
				background url('../images/icon-radar.png') no-repeat center	
				
			&.iconed-list-item-icon-paths
				background url('../images/icon-paths.png') no-repeat center
				
			&.iconed-list-item-icon-money
				background url('../images/icon-money.png') no-repeat center														

		span.iconed-list-item-text
			width 300px			
			display block		
			float right
			
			p
				margin 0 0 0.5em
	
ul.team-list
	span.team-list-picture
		display block
		float left
		padding 0 10px 0 0
		
		img
			border solid 5px #eee
			
	span.team-list-name
		font-size 24px
		display block
		margin 0 0 10px
		
	span.team-list-desc
		font-family Arial, san-serif
		font-size 14px
		line-height 120%
		width 220px
		display block
		float left
		
	span.team-list-dropdown-arrow
		position absolute
		bottom 10px
		right 0				
		
div.invest-stages
	div.invest-stage
		width 192px
		height 118px
		background-single('../images/stage.png')
		float left
		margin 0 0 0 -25px
		font-size 22px
		padding 15px 0 0 35px
		line-height 100%
		cursor pointer

		&:hover
			background-single('../images/stage-active.png')

ul.map-list
	li.map-list-item
		width 341px
		
		span.services-list-title
			width 260px
			
		ul.list-circle
			list-style disc

			
	a
		color #404040
		font-family Arial, sans-serif
		font-size 15px
		
		&:hover
			text-decoration underline